In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [2]:
df=pd.read_csv(r"C:\Users\HP\Documents\Zalo Received Files\Data\Credit.csv")

In [3]:
df.head()

,Unnamed: 0,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity,Balance
0,1,14.891,3606,283,2,34,11,Male,No,Yes,Caucasian,333
1,2,106.025,6645,483,3,82,15,Female,Yes,Yes,Asian,903
2,3,104.593,7075,514,4,71,11,Male,No,No,Asian,580
3,4,148.924,9504,681,3,36,11,Female,No,No,Asian,964
4,5,55.882,4897,357,2,68,16,Male,No,Yes,Caucasian,331

In [4]:
df["Gender"] = df["Gender"].map({" Male": 0, "Female": 1})

In [5]:
df["Student"] = df["Student"].map({"Yes": 1, "No": 0})

In [6]:
df["Married"] = df["Married"].map({"Yes": 1, "No": 0})
df.head()

,Unnamed: 0,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity,Balance
0,1,14.891,3606,283,2,34,11,0,0,1,Caucasian,333
1,2,106.025,6645,483,3,82,15,1,1,1,Asian,903
2,3,104.593,7075,514,4,71,11,0,0,0,Asian,580
3,4,148.924,9504,681,3,36,11,1,0,0,Asian,964
4,5,55.882,4897,357,2,68,16,0,0,1,Caucasian,331

In [7]:
df["Ethnicity_Asian"] = df["Ethnicity"].map(lambda x: 1 if x == "Asian" else 0)
df["Ethnicity_Caucasian"] = df["Ethnicity"].map(lambda x: 1 if x == "Caucasian" else 0)

df = df.drop("Ethnicity", axis=1)
df.head()

,Unnamed: 0,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Balance,Ethnicity_Asian,Ethnicity_Caucasian
0,1,14.891,3606,283,2,34,11,0,0,1,333,0,1
1,2,106.025,6645,483,3,82,15,1,1,1,903,1,0
2,3,104.593,7075,514,4,71,11,0,0,0,580,1,0
3,4,148.924,9504,681,3,36,11,1,0,0,964,1,0
4,5,55.882,4897,357,2,68,16,0,0,1,331,0,1

In [18]:
y = df['Balance']
X = df.drop('Balance', axis=1)

In [19]:
X.head()

X = X.drop('Unnamed: 0', axis=1)

In [20]:
X.head()

,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity_Asian,Ethnicity_Caucasian
0,14.891,3606,283,2,34,11,0,0,1,0,1
1,106.025,6645,483,3,82,15,1,1,1,1,0
2,104.593,7075,514,4,71,11,0,0,0,1,0
3,148.924,9504,681,3,36,11,1,0,0,1,0
4,55.882,4897,357,2,68,16,0,0,1,0,1

In [21]:
y.head()

0    333
1    903
2    580
3    964
4    331
Name: Balance, dtype: int64

In [22]:
from sklearn.model_selection import train_test_split

In [23]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

print(X.shape, X_test.shape)

(400, 11) (80, 11)

In [24]:
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.ensemble import RandomForestRegressor

from sklearn.metrics import r2_score, root_mean_squared_error
from sklearn.model_selection import cross_val_score


models = {
    "Linear Regression": LinearRegression(),
    "Ridge Regression": Ridge(),
    "Lasso Regression": Lasso(),
    "Random Forest": RandomForestRegressor()
}

results = {}

for name, model in models.items():
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    rmse = root_mean_squared_error(y_test, y_pred)
    r2 = r2_score(y_test, y_pred)
    results[name] = {"RMSE": rmse, "R2": r2}


for name, res in results.items():
    print(f"{name}: R2 Score = {res['R2']:.4f}, RMSE = {res['RMSE']:.2f}")

Linear Regression: R2 Score = 0.9523, RMSE = 89.30
Ridge Regression: R2 Score = 0.9516, RMSE = 89.97
Lasso Regression: R2 Score = 0.9514, RMSE = 90.07
Random Forest: R2 Score = 0.9247, RMSE = 112.13

f:\python3115\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:695: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.615e+06, tolerance: 7.097e+03
  model = cd_fast.enet_coordinate_descent(

In [25]:
lr = models["Linear Regression"]
print("Phương trình hồi quy:")
print("y = {:.2f}".format(lr.intercept_), end="")
for i, col in enumerate(X_train.columns):
    print(" + ({:.2f} * {})".format(lr.coef_[i], col), end="")
print()

Phương trình hồi quy:
y = -465.05 + (-7.55 * Income) + (0.20 * Limit) + (0.97 * Rating) + (19.12 * Cards) + (-0.60 * Age) + (-1.08 * Education) + (-12.49 * Gender) + (418.44 * Student) + (-6.15 * Married) + (13.30 * Ethnicity_Asian) + (11.52 * Ethnicity_Caucasian)